*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/*-----------------------------------------------
   Base Elements Styles
   -----------------------------------------------*/

.top-header{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    
}

fieldset{
    border: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 25px;
    height: 4rem;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #042024;
    color: #dbe3ef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}
#state{
    font-size: 1.5rem;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 25px  0;
}
input[type=radio]{
    margin-bottom: 22px;
}
select {
    padding: 6px;
    height: 4rem;
    border-radius: 2px;
   
  }
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  label.light {
    font-weight: 300;
    display: inline;
  }

  input::placeholder{
    font-size: 16px;
    text-align: right;
    font-family: 'Noto Serif', serif;
    color: white;
 }
 textarea::placeholder{
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    color: white;
 }

  textarea{
      overflow: auto;
      height: 8rem;
  }
  
  input:focus{
      background:  rgb(117, 117, 167);
      border: 3px solid #1d0c2a;
      color: white;
      font-family: 'Oswald', sans-serif;
      transition: all 0.5s ease 0s;
  }
  textarea:focus{
    background:  rgb(117, 117, 167);
    color: white;
    font-family: 'Oswald', sans-serif;
    transition: all 0.5s ease 0s;
  }
  select:focus{
    background: none;
    transition: all 0.5s ease 0s;
    border: 3px solid #1d0c2a;
    background:  rgb(117, 117, 167);
    color: white;
}
   /*-----------------------------------------------
   Base Layout Styles
-----------------------------------------------*/
.main-nav,
.top-header{
    text-align: center;
}
.main-nav h1{
    width: 100%;
    margin: 0%;
    padding: 1.5rem 0;
    background: rgb(56, 56, 79);
    color: white;
    text-transform: uppercase;
}

.header-box{
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 0 15px 0;
    border-bottom: 4px solid black;
    letter-spacing: 0;
}
.signup-h{
    text-align:center;
    padding-bottom: 2px;
    margin-bottom: -15px;
}
.header-p{
    padding-top: 0;
    font-size: 25px;
    margin-bottom: 1rem;
    text-align-last:center;
}
.main-form{
    border-top: 3px solid black;
    margin: 5px auto;
    width: 90%;
}
.main-form ,form {
    width: 100%;
    margin: 35px auto;
    /* background: lightblue; */
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    
  }
  .top-field ,.top-legend{
      background-color: #8896a8;
  }
  .top-field ,label{
    margin-bottom:18px ; 
  }
  .number {
    background-color: #4a1e6c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
 .zipcode{
     max-width: 50%;
 }

  .border-top{
      border-top: 2px solid black;
      width: 90%;
      padding-top: 3px;
      margin: 7px auto;
  }
  .top-legend{
      margin-bottom: 25px;
  }
 
 .bot-legend{
     border-top: 2px solid black;
     width: 100%;
     padding-top: 40px;
     padding-bottom: 30px;
 }
  .last-label{
      margin: 33px 0;
  }
  .submit-btn {
    
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #1f1b62;
    font-size: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    border-radius: 8px;
    width: 100%;
    height: 5rem;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
  }
  .copyright{
      text-align: center;
      padding-top: 10px;
      font-family: 'Noto Serif', serif;
  }
/*-----------------------------------------------
   Media Queries
-----------------------------------------------*/

 @media (min-width:768px){
     div,form{
         max-width:50%;
     }
     .header-box{
         max-width: 50%;
     }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 20px;
    height: 4rem;
    margin-right: 0;
    /* outline: 0; */
    /* padding:0 */
    width: 65%;
    background-color: #042024;
    color: #dbe3ef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}

    form .top-field{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
 }