*{
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*-----------------------------------------------
   Base Elements Styles
   -----------------------------------------------*/
body{
    text-align: center;
}
h1{
    padding: 10px;
    letter-spacing: 2px;
}

form{
    width: 90%;
    margin:0 auto;
}

   /*-----------------------------------------------
   Base Layout Styles
-----------------------------------------------*/
.main-nav h1{
    width: 100%;
    margin: 0%;
    padding: 1.5rem 0;
    background: rgb(56, 56, 79);
    color: white;
    text-transform: uppercase;
}

.header-box{
    max-width: 90%;
    margin: 0 auto;
    padding: 10px 0 15px 0;
    border-bottom: 4px solid black;
    letter-spacing: 0;
}
.signup-h{
    padding-bottom: 2px;
    margin-bottom: -15px;
}
.header-p{
    padding-top: 0;
    font-size: 25px;
    margin-bottom: 3rem;
}
.main-form{
    border-top: 3px solid black;
    margin: 5px auto;
    width: 90%;
}
/*-----------------------------------------------
   Media Queries
-----------------------------------------------*/

 